

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/* Logo */
.logo {
    margin-top: 15px;
}

.logo a {
    color: #000;
    font-size: 24px;
    margin: 15px;
    padding: 30px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 20px;
}

.navbar ul li a {
    color: #000;
}

/* Hire Button */
.hire {
    display: inline-block;
    background-color: aqua;
    border-radius: 5px;
    padding: 1px;
}

/* Hero Section */
.hero {
    
    margin-left: 50px;
    display: flex;
    position: relative;
    gap: 5px;
    background-color: rgb(241, 242, 243);
    border-radius: 20px;
    width: 1200px;
    justify-content: space-between;
}

/* Write Section */
.write {
    padding: 20px;
}

.write .text1 {
    color: #000000;
    /* background-color: aqua;
    border: 1px solid rgb(0, 253, 232); */
    padding: 18px 16px;
    position: relative;
    left:180px;
    
    margin: 10px;
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}

.write .text1:hover {
    transform: scale(1.2);
}

#text1 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#text2 {
    font-size: 18px;
    color: #3b3b3b;
}

#text3 {
    font-size: 16px;
    color: #3b3b3b;
}

.write button {
    position: relative;
    left: 180px;
    background-color: aqua;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.write button:hover {
    color: rgb(255, 126, 126);
    transform: scale(1.2);
    background-color: rgb(0, 253, 232);
}
.hero img{
    /* position: relative; */
}
.hero img .mainimg{
    margin: 500px;
    padding-left: 500px;
    transition: transform 1s ease-in-out;
    transform: scale(1);
}
.hero img:hover{
    
    translate: -20px ;
    transform: scale(1.1);
    
    transition: translate,transform 1.2s,0.5s ease-in-out;

}

.hero .back{
    width: 400px;
    height:400px;
    left : 45%;
}

